<header>
  <nav class="navbar navbar-expand container">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-item active">
          <h4 class="uno"><a class="nav-link text-dark" href="https://swapnilsoni1999.github.io">Swapnil Soni</a></h4>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mr-md-5">
        <li class="nav-item active">
          <h6 class="uno"><a class="nav-link text-dark" href="#">Blog</a></h6>
        </li>
        <li>
          <h6 class="uno"><a class="nav-link text-dark" href="./rom-index/index.html">Downloads</a></h6>
        </li>
      </ul>
    </div>
  </nav>
</header>
