.g-red {
	color: #db3236 !important;
}
.g-green {
	color: #3cba54 !important;
}
.g-yellow {
	color: #f4c20d !important;
}
.g-blue {
	color: #4885ed !important;
}
.fa-heart {
	color: red;
}