<div class="container-fluid">
  <div class="row text-center pt-5">
    <div class="col-lg-12">
      <img class="img-fluid s-google" src="/assets/img/logo.png">
    </div>
    <div class="col-lg-12">
      <h1>I'm
        <span class="typer" id="main" data-words="a Frontend Developer,a Custom ROM Developer" data-delay="70"
          data-deleteDelay="1000"></span>
        <span class="cursor" data-owner="main"></span>
      </h1>
      <p>Another noob in this Professional world.</p>
    </div>
  </div>

  <div class="row text-center">
    <div id="social-media" class="text-center col-lg-12">
      <a class="social ml-2 mr-2" href="https://t.me/SoniSins"><i class="fab fa-telegram fa-2x"></i></a>
      <a class="social ml-2 mr-2" href="https://fb.com/swapnilsoni1999"><i class="fab fa-facebook fa-2x"></i></a>
      <a class="social ml-2 mr-2" href="https://instagram.com/soniswapnil"><i class="fab fa-instagram fa-2x"></i></a>
      <a class="social ml-2 mr-2" href="https://twitter.com/SwapnilSoniXDA"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
</div>
